################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SetupIntugentPI/Release/SetupIntugentPI.msi
/SetupIntugentPI/Release
/InsulationFoams/UpgradeLog3.htm
/InsulationFoams/obj
/InsulationFoams/bin
/InsulationFoams
/gitignore.dat
